  *{
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(52, 36, 59);
  }

  body::-webkit-scrollbar{
    width: 15px;
  }

  body::-webkit-scrollbar-track{
    background-color: rgb(40, 27, 45);
  }

  body::-webkit-scrollbar-thumb{
    background: linear-gradient(#502bb4, rgb(134, 7, 96));
    border-radius: 10px;
  }
  
  .website-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .container-22{
    display: flex;
    justify-content: center;
  }
  
  .latest-comic-container{
    background-color: rgb(40, 27, 45);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    width: 892px;
    height: fit-content
  }

  #comicsContainer{
    overflow: auto;
    max-height: 141vh;
  }

  #comicsContainer::-webkit-scrollbar {
    width: 6px; /* Lebar scrollbar */
  }
  
  #comicsContainer::-webkit-scrollbar-track {
    background-color: rgb(40, 27, 45); /* Warna latar belakang track scrollbar */
  }
  
  #comicsContainer::-webkit-scrollbar-thumb {
    background-color: rgb(134, 7, 96); /* Warna thumb scrollbar */
    border-radius: 5px;
  }
  
  #comicsContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(82, 58, 98); /* Warna thumb scrollbar saat di hover */
  }
  
  .latest-headline, .trending-headline{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(134, 7, 96);
    margin-bottom: 10px;
  }

  .row .col {
    max-width: 150px;
    box-sizing: content-box;
  }

  .row .col img{
    width: 150px;
    height: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.5s;
    overflow: hidden;
  }

  .row .col img:hover{
    opacity: 0.6;
  }
  
  .row .col img:active{
    transform: scale(1);
    border-radius: 15px;
  }
  
  .comic-name{
    display: flex;
    margin-top: 6px;
    margin-bottom: 9px;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 0.05s, color 0.05s, transform 0.25s;
    border-radius: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .comic-name:hover{
    background-color: white;
    color:rgb(69, 43, 78);
    border-radius: 30px;
    transform: scale(1.03);
  }
  
  .comic-name:active{
    transform: scale(0.9);
  }

  .chapter-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 10px;
    align-items: center;
    background-color: rgb(69, 43, 78);
    border-radius: 5px;
    transition: background-color 0.05s, color 0.05s, transform 0.25s;
    cursor: pointer;
  }

  .chapter-stats:hover{
    background-color: white;
    color: rgb(69, 43, 78);
    transform: scale(1.05);
  }
  
  .chapter-stats:active{
    transform: scale(0.99);
  }
  
  .chapter-number{
    font-size: 13px;
    font-weight: bold;
  }
  
  .released-time{
    font-size: 11px;
    padding-right: 10px;
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:rgb(40, 27, 45);
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    padding: 10px 40px 0px 40px;
  }
  
  .footer-headline{
    font-size: 20px;
    color: rgb(134, 7, 96);
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
  }
  
  .footer-headline:hover{
    transform: scale(1.2);
  }
  
  .socials{
    display: flex;
    column-gap: 20px;
    list-style: none;
  }
  
  .socials a{
    text-decoration: none;
    width: 20px;
    color: white;
    transition: transform 0.2s;
  }
  
  .socials a:hover{
    color:rgb(134, 7, 96);
    transform: scale(1.9);
  }
  
  .socials a:active{
    transform: scale(1);
  }