*{
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(52, 36, 59);
  }

  ::-webkit-scrollbar{
    width: 15px;
  }

  ::-webkit-scrollbar-track{
    background-color: rgb(40, 27, 45);
  }

  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#502bb4, rgb(134, 7, 96));
    border-radius: 10px;
  }
  
  .website-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #slider{
    padding-top: 80px;
    overflow: hidden;
  }
  
  #slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0px;
    animation: 30s slider infinite;
  }
  
  #slider figure img{
    width: 20%;
    float: left;
    transition: transform 0.1s;
  }
  
  #slider figure img:hover{
    transform: scale(1.15);
  }
  
  #slider figure img:active{
    transform: scale(1);
  }
  
  @keyframes slider{
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    30% {
      left: -100%;
    }
    40% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    60% {
      left: -200%;
    }
    70% {
      left: -300%;
    }
    80% {
      left: -300%;
    }
    90% {
      left: -400%;
    }
    100% {
      left: -400%;
    }
  }
  
  .latest-comic-container{
    background-color: rgb(40, 27, 45);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    max-width: 886px;
    height: fit-content;
  }
  
  .latest-headline, .support-headline, .trending-headline{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(134, 7, 96);
    margin-bottom: 10px;
  }

  .row .col {
    max-width: 150px;
    box-sizing: content-box;
  }

  .row .col img{
    width: 150px;
    height: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.5s;
    overflow: hidden;
  }

  .row .col img:hover{
    opacity: 0.6;
  }
  
  .row .col img:active{
    transform: scale(1);
    border-radius: 15px;
  }
  
  .comic-name{
    display: flex;
    margin-top: 6px;
    margin-bottom: 9px;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 0.05s, color 0.05s, transform 0.25s;
    border-radius: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .comic-name:hover{
    background-color: white;
    color:rgb(69, 43, 78);
    border-radius: 30px;
    transform: scale(1.03);
  }
  
  .comic-name:active{
    transform: scale(0.9);
  }

  .chapter-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 43, 78);
    border-radius: 5px;
    transition: background-color 0.05s, color 0.05s, transform 0.25s;
    cursor: pointer;
  }

  .chapter-stats:hover{
    background-color: white;
    color: rgb(69, 43, 78);
    transform: scale(1.05);
  }
  
  .chapter-stats:active{
    transform: scale(0.99);
  }
  
  .chapter-number{
    font-size: 13px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: bold;
  }
  
  .released-time{
    font-size: 11px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .comic-main-container{
    display: flex;
    column-gap: 21px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
  }
  
  .latest-load-more{
    text-align: center;
    padding: 0px;
  }
  
  .latest-button-load-more{
    background-color:rgb(69, 43, 78);
    color: white;
    padding: 4px 7px 3px 11px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.05s, color 0.05s, transform 0.25s;
  }
  
  .latest-button-load-more:hover{
    background-color: white;
    color:rgb(69, 43, 78);
    border-radius: 6px;
    transform: scale(1.07);
  }
  
  .latest-button-load-more:active{
    transform: scale(0.98);
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:rgb(40, 27, 45);
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    padding: 10px 40px 0px 40px;
  }
  
  .footer-headline{
    font-size: 20px;
    color: rgb(134, 7, 96);
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
  }
  
  .footer-headline:hover{
    transform: scale(1.2);
  }
  
  .socials{
    display: flex;
    column-gap: 20px;
    list-style: none;
  }
  
  .socials a{
    text-decoration: none;
    width: 20px;
    color: white;
    transition: transform 0.2s;
  }
  
  .socials a:hover{
    color:rgb(134, 7, 96);
    transform: scale(1.9);
  }
  
  .socials a:active{
    transform: scale(1);
  }