  *{
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: white;
  }
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(52, 36, 59);
  }

  body::-webkit-scrollbar{
    width: 15px;
  }

  body::-webkit-scrollbar-track{
    background-color: rgb(40, 27, 45);
  }

  body::-webkit-scrollbar-thumb{
    background: linear-gradient(#502bb4, rgb(134, 7, 96));
    border-radius: 10px;
  }
  
  .comic-head{
    background-color:rgb(82, 58, 98);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .comic-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .single-comic-name{
    font-size: 36px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .single-comic-container{
    display: flex;
    column-gap: 20px;
  }
  
  .single-comic-img-container{
    width: 200px;
    height: 280px;
  }
  
  .single-comic-img-container img{
    width: 100%;
    height : 100%;
    border-radius: 10px;
  }
  
  .single-comic-stat{
    background-color:rgb(52, 36, 59);
    padding: 18px 30px;
    border-radius: 10px;
  }
  
  .star-related{
    display: flex;
    column-gap: 8px;
  }
  
  .stars{
    width: 25px;
    height: 25px;
    transition: transform 0.5s;
  }
  
  .stars:hover{
    transform: rotate(360deg);
  }
  
  .star-value{
    font-size: 18px;
  }

  .bookmark-button{
    margin-right: 1.1rem;
    background-color: rgb(73, 5, 97);
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .bookmark-button:hover{
    background-color: rgb(134, 7, 96);
  }
  
  .indicator-comic-head-container{
    display: flex;
    column-gap: 30px;
  }
  .indicator-comic-head-1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 60px;
  }
  .indicator-comic-head-2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 330px;
  }
  
  .indicator-34{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    max-width: 10em;
  }

  .indicator-34-flex-1, .indicator-34-flex-2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  .indicator-34-flex-2 .feather{
    width: 20px;
    height: 20px;
  }

  .indicator-34-flex-2 .small{
    font-size: 13px;
  }

  .comic-info-comment, .comic-info-bookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comic-info-comment{
    border-right: 1px solid white;
    padding-right: 1rem;
  }
  
  .count-s1{
    width: 70px;
    display: flex;
    font-size: 13px;
    text-align: center;
  }
  
  .count-s2{
    width: 80px;
    display: flex;
    font-size: 13px;
    border-left-style: solid;
    padding-left: 0px;
    text-align: center;
  }
  .socials-comic{
    display: flex;
    column-gap: 50px;
    list-style: none;
    margin-left: 15px;
  }
  
  .socials-comic a{
    text-decoration: none;
    width: 20px;
    color: white;
    transition: transform 0.2s;
    transform: scale(1.5);
  }
  
  .socials-comic a:hover{
    color:rgb(134, 7, 96);
    transform: scale(1.9);
  }
  
  .socials-comic a:active{
    transform: scale(1);
  }
  
  .container{
    display: flex;
    justify-content: center;
  }
  
  .synopsis-chapter-container{
    background-color: rgb(40, 27, 45);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    width: 660px;
    height: fit-content;
  }
  
  .latest-synopsis, .latest-chapter-update, .discussion-headline{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(134, 7, 96);
  }
  
  .latest-synopsis, .latest-chapter-update, .discussion-headline, .trending-headline{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .synopsis-text{
    margin-top: 10px;
    max-height: 8em;
    overflow: hidden;
    box-shadow: 0px 10px 10px -10px;
    /* transition: 0.5s cubic-bezier(0, 1, 0, 1); */
  }

  .expand{
    margin-top: 10px;
    box-shadow: none;
    max-height: none !important;
    /* transition: max-height 1s ease-in-out; */
  }
  
  .synopsis-show-more, .chapter-show-more, .comment-show-more{
    text-align: center;
    border-bottom: 1px solid rgb(134, 7, 96);
    border-width: 1px;
    margin-top: 10px;
  }
  
  .synopsis-button-show-more, .chapter-button-show-more, .comment-button-show-more{
    background-color:rgb(40, 27, 45);
    color: white;
    border: none;
    font-size: 17px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.05s, transform 0.25s;
  }
  
  .synopsis-button-show-more:hover{
    color: rgb(134, 7, 96);
    transform: scale(1.07);
  }
  
  .synopsis-button-show-more:active{
    transform: scale(0.98);
  }
  
  .first-last-chapter-button-container{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .first-last-chapter-container{
    width: 100%;
  }
  
  .first-last-button{
    background-color:rgb(73, 5, 97);
    width: 100%;
    border-radius: 5px;
    padding: 13px 0px;
    cursor: pointer;
    border: none;
    transition: transform 0.2s, background-color 0.5s;
  }
  
  .first-last-button:hover{
    background-color: white;
  }
  
  .first-last-button:hover div{
    color:rgb(73, 5, 97);
  }
  
  .first-last-button:active{
    transform: scale(0.97);
  }
  
  .upper-text-button{
    font-size: 14px;
    color: white;
  }
  
  .lower-text-button{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 3px;
  }
  
  .chapter-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .chapter-number-container{
    display: flex;
    justify-content: space-between;
    width: 99%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(134, 7, 96);
    border-radius: 3px;
    padding: 6px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.25s;
  }
  
  .chapter-number-container:hover{
    background-color:rgb(134, 7, 96);
    transform: scale(1.01);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .chapter-number-container:active{
    transform: scale(0.99);
  }
  
  .chap-number{
    font-size: 14px;
  }

  .single-chapter-info{
    display: flex;
    column-gap: 1em;
  }

  .view-count-style{
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  .feather {
    width: 14px;
    height: 14px;
  }
  
  .single-chapter-info{
    font-size: 12px;
    color: #888;
  }
  
  .chapter-number-container:hover div{
    color: white;
  }

  .chapter-container::-webkit-scrollbar {
    width: 6px; /* Lebar scrollbar */
  }
  
  .chapter-container::-webkit-scrollbar-track {
    background-color: rgb(40, 27, 45); /* Warna latar belakang track scrollbar */
  }
  
  .chapter-container::-webkit-scrollbar-thumb {
    background-color: rgb(134, 7, 96); /* Warna thumb scrollbar */
    border-radius: 5px;
  }
  
  .chapter-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(82, 58, 98); /* Warna thumb scrollbar saat di hover */
  }
  
  .discussion-instruction, .total-comment{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .user-log-span-container {
    display: inline-block;
  }
  
  .user-log-span{
    transition: color 0.4s;
    cursor: pointer;
    color: rgb(134, 7, 96);
  }

  .user-log-span:hover{
    color: white;
  }
  
  .user-img-text{
    margin: 0.8em 0;
  }

  .user-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.25s, opacity 0.2s;
  }
  
  .user-img:hover{
    transform: scale(1.15);
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .user-img:active{
    transform: scale(0.99);
  }

  .post-comment-button{
    padding: 12px 25px;
    background-color:rgb(73, 5, 97);
    color: white;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s, color 0.8s, transform 0.2s;
    border: none;
  }
  
  .post-comment-button:hover{
    background-color: white;
    color: rgb(73, 5, 97);
  }
  
  .post-comment-button:active{
    transform: scale(0.95);
  }
  
  .user-comment span{
    font-size: 13px;
    color: #888;
  }
  
  .user-name-comment{
    display: flex;
    flex-direction: column;
  }
  
  .user-name, .user-comment-text{
    flex: 1;
    transition: color 0.3s;
  }
  
  .user-name:hover{
    color: rgb(134, 7, 96);
    cursor: pointer;
  }

  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:rgb(40, 27, 45);
    right: 0;
    left: 0;
    bottom: 0;
    height: 155px;
    margin-top: 40px;
    padding: 10px 40px 0px 40px;
  }
  
  .footer-headline{
    font-size: 20px;
    color: rgb(134, 7, 96);
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
  }
  
  .footer-headline:hover{
    transform: scale(1.2);
  }
  
  .socials{
    display: flex;
    column-gap: 20px;
    list-style: none;
  }

  .socials .feather {
    width: 24px;
    height: 24px;
  }
  
  .socials a{
    text-decoration: none;
    width: 20px;
    color: white;
    transition: transform 0.2s;
  }
  
  .socials a:hover{
    color:rgb(134, 7, 96);
    transform: scale(1.9);
  }
  
  .socials a:active{
    transform: scale(1);
  }  